/* Navbar container styles */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: #fff;
  padding: 10px 20px;
  border-bottom: 2px solid #ffffff; /* Add a border at the bottom of the navbar */
  z-index: 1000;
}

/* Logo styles */
.logo {
  margin-left: 10px; /* Add some margin for separation from the buttons */
}

.logo-image {
  max-height: 40px; /* Adjust the maximum height to make the image smaller */
}

.cart-image {
  max-height: 30px; /* Adjust the maximum height to make the image smaller */
}

/* Button styles */
.buttons {
  display: flex;
  gap: 5px;
  margin-right: 40px;
}

.buttons button {
  font-size: 16px;
  margin-right: 10px;
  padding: 10px 20px; /* Increase padding to make them rectangular */
  border: 2px solid rgb(255, 0, 0);
  border-radius: 15px; /* Add rounded corners */
  background-color: rgb(255, 255, 255); /* Set the initial background color */
  color: rgb(255, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s; /* Add a transition for the hover effect */
  height: 60px;
}

.buttons button:hover {
  background-color: #FF5733; /* Change background color on hover to red */
  color: rgb(255, 255, 255);
}

.cart-image:hover {
  content: url('../Assets/whitecart.png');
}