.banner {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}

.hero-image {
  position: top;
  width: 100%;
  height: 400px; /* Adjust the height as needed */
  object-fit: cover;
  object-position: 50% 10%;
  filter: brightness(70%)
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 48px
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-item {
  width: 25%; /* Adjust the width to fit three items per row with some spacing */
  margin: 2%; /* Adjust the margin for spacing between items */
  background-color: rgb(255, 255, 255);
  text-align: left;
  padding: 10px;
}

.product-item img {
  width: 100%;
  height:200px;
  object-fit: cover;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.add-button,
.remove-button,
.item-count-box {
  background-color: #ffffff;
  color: rgb(243, 0, 0);
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.remove-button {
  background-color: #ffffff;
}

.item-count-box {
  color: #333; /* Adjust text color */
  height: 20px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px; /* Add rounded corners */
  display: flex;
  align-items: center;
}