.search-container {
  margin-top: 140px;
  margin-left: 50px;
  text-align: center;
  padding: 20px;
  font-size: 32px;
}

body {
  background-color: #ffeece; /* Set your desired background color */
}

/* Search bar */
input[type="text"] {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

/* Restaurant list */
.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Restaurant card */
.restaurant-card {
  margin-left: 50px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 20px;
  max-width: 300px;
  width: 100%;
}

/* Restaurant image */
.restaurant-image {
  background-image: url('../Components/Assets/shop_sign.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Restaurant name */
h2 {
  font-size: 20px;
  margin: 10px 0;
}

/* Order button */
button {
  font-size: 16px;
  margin-right: 10px;
  padding: 10px 20px; /* Increase padding to make them rectangular */
  border: 2px solid rgb(255, 0, 0);
  border-radius: 15px; /* Add rounded corners */
  background-color: rgb(255, 255, 255); /* Set the initial background color */
  color: rgb(255, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s; /* Add a transition for the hover effect */
  height: 40px;
}

button:hover {
  background-color: #FF5733; /* Change background color on hover to red */
  color: rgb(255, 255, 255);
}